<h2>Choose The Option</h2>
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-12 nav-box">
			<img src="../../assets/user.png" class="user">
			<div><button class="btn btn-outline-success" routerLink="/user">Create User</button></div>
		</div>
		<div class="col-lg-4 col-sm-6 nav-box">
			<img src="../../assets/Transfer.png" class="view-history">
			<div><button class="btn btn-outline-success" routerLink="/users">View Users</button></div>	
		</div>
		<div class="col-lg-4 col-sm-6 nav-box">
			<img src="../../assets/history.png" class="view-history">
			<div><button class="btn btn-outline-success" routerLink="/history">Transaction Hstory</button></div>	
		</div>
	</div>
</div>
